# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/

.project
.cproject
.settings/

*.result
*.log
*.data
*.output

.vscode
redis/sample
ycsbc
/results/

NVM_LOG
compaction.csv
all_test
test